<!-- [{{< icon "mail-open" >}}](mailto:learn.software.eng@gmail.com) -->
<!-- [{{< icon "github" >}}](https://github.com/learn-software-engineering) -->
<!-- [{{< icon "linkedin" >}}](https://linkedin.com/company/learn-software) -->
<!-- [{{< icon "instagram" >}}](https://www.instagram.com/learnsoftwareeng) -->
<!-- [{{< icon "facebook" >}}](https://www.facebook.com/learn.software.eng) -->
<!-- [{{< icon "x-twitter" >}}](https://x.com/software45687) -->
<!-- [{{< icon "youtube" >}}](https://www.youtube.com/@learn-software) -->
