{{- $pages := .Page.Pages.ByWeight -}}
{{- if $pages -}}
  {{- $cards := "" -}}
  {{- range $pages -}}
    {{- $childPage := . -}}
    {{- $image := "" -}}
    {{- with .Params.cardImage -}}
      {{- with $childPage.Resources.Get . -}}
        {{- $image = .RelPermalink -}}
      {{- else -}}
        {{- $image = . -}}
      {{- end -}}
    {{- end -}}
    {{- $cards = printf "%s%s" $cards (partial "shortcodes/card" (dict
      "page"       $childPage
      "link"       $childPage.RelPermalink
      "title"      $childPage.Title
      "icon"       ($childPage.Params.icon | default "")
      "subtitle"   ""
      "image"      $image
      "alt"        $childPage.Title
      "width"      0
      "height"     0
      "imageStyle" ""
      "tag"        ""
      "tagType"    ""
      "tagBorder"  true
      "tagIcon"    ""
    )) -}}
  {{- end -}}
  {{- partial "shortcodes/cards" (dict "cols" 3 "content" ($cards | safeHTML)) -}}
{{- end -}}
